@{
    ViewData["Title"] = "Contact";
}


<main>
    <section id="get-info">
        <div class="container-lg text-center mt-5">
            <h1>Get In Touch</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere temporibus, fugiat molestiae
                distinctio impedit nostrum!
            </p>
        </div>
    </section>
    <section id="contact-location-mail">
        <div class="container-lg">
            <div class="row text-lg-center justify-content-center">
                <div class="col-lg-3 col-md-3 col-sm-12 m-lg-1 m-sm-1 location text-center p-3">
                    <h1>
                        <i class="fa-solid fa-location-dot"></i>
                    </h1>
                    <p>102 Street 2714 Donovan</p>
                    <p class="lorem-6">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12  m-lg-1 m-sm-1 mobile text-center p-3">
                    <h1>
                        <i class="fa-solid fa-phone"></i>
                    </h1>
                    <p>
                    <p>+02 1234 567 88</p>
                    </p>
                    <p class="lorem-6">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12  m-lg-1 m-sm-1 mail text-center p-3">
                    <h1>
                        <i class="fa-solid fa-envelope"></i>
                    </h1>
                    <p>info@example.com</p>
                    <p class="lorem-6">Lorem ipsum dolor sit amet consectetur.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Mail register -->
    <section id="mail-register">
        <div class="container background-register mt-lg-5">
            <div class="container p-lg-5">
                <div class="send-us text-lg-center pt-5 mt-5 pb-lg-4 border-bottom">
                    <h1>Send Us</h1>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam corporis aut ipsam voluptatum
                        aspernatur ipsum minus autem odit placeat culpa!
                    </p>
                </div>
                <div class="mail-name-subject mt-lg-5">
                    <div class="row justify-content-between">
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <label for="">Your Name*</label>
                            <input type="text" name="" id="">
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            <label for="">Your email*</label>
                            <input type="email" name="" id="">
                        </div>
                    </div>
                    <div class="subject mt-lg-3">
                        <label for="">Subject*</label>
                        <input type="text">
                    </div>
                    <div class="message-register mt-lg-3">
                        <label for="">Subject*</label>
                        <textarea name="" id="" cols="30" rows="10"></textarea>
                    </div>
                    <div class="mt-lg-5 mt-sm-5 mb-lg-2 mb-sm-5">
                        <input type="button" value="Send Message" class="mb-2">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>