@{
    ViewData["Title"] = "Login";
}

<main>
    <section id="home-login-page">
        <div class="container-lg pb-lg-4 container pb-4">
            <div class="home-account">
                <p><a href="index.html">Home</a> <i class="fa-solid fa-chevron-right"></i> <span style="color: #8f95ac;">My Account</span></p>
            </div>
        </div>
    </section>
    <section id="login-register-login-register">
        <div class="container-lg log-register pb-lg-4 container pb-4">
            <div class="row">
                <div class="col-lg-6 col-6 login">
                    <h4 class="border-bottom pb-2">Login</h4>
                    <label for="">Username or Email address*</label>
                    <input type="text" name="" id="" class="mb-4">
                    <label for="">Password*</label>
                    <input type="password" name="" id="" class="mb-4">
                    <input type="checkbox" name="" id="" class="mb-4">
                    <span>Remember Me</span>
                    <input type="button" value="Log In" class="mb-3">
                    <p><a href="#">Lost Your Password</a></p>
                </div>
                <div class="col-lg-6 col-6 register">
                    <h4 class="border-bottom pb-2">Register</h4>
                    <label for="">Username or Email address*</label>
                    <input type="text" name="" id="" class="mb-4">
                    <label for="">Password*</label>
                    <input type="password" name="" id="" class="mb-4">
                    <div>
                        <p>Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our <a href="#">Privacy Policy</a></p>
                    </div>
                    <input type="button" value="Register">
                </div>
            </div>
        </div>
    </section>
</main>
