@{
    ViewData["Title"] = "Blog";
}

<main>
    <section id="blog-pages">
        <div class="container-lg container-md container-sm">
            <div class="row">
                <!-- Main Block Page -->
                <div class="col-lg-8 col-md-12 col-sm-12 mt-5">
                    <div class="blog-prod-img mb-4">
                        <div class="blog-img">
                            <a href="#">
                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-3.jpg" alt="">
                            </a>
                            <p>
                                <i class="fa-solid fa-clock"></i><a href=""> May 23, 2021 </a><i class="fa-solid fa-bookmark"></i><a href="#"> Tips & Tricks </a> <i class="fa-solid fa-pills"></i>
                                <a href="#"> food</a>, <a href="#"> store</a>, <a href="#"> themeforest </a>
                            </p>
                        </div>
                        <div class="blog-prod-info">
                            <h2><a href="#">But I must explain to you how all this mistaken idea</a></h2>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta a ea dignissimos
                                asperiores. Repudiandae aspernatur optio recusandae pariatur beatae quibusdam.
                            </p>
                            <input type="button" value="Read More" class="read-more">
                        </div>
                    </div>
                    <div class="blog-prod-img mb-4">
                        <div class="blog-img">
                            <a href="#">
                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-5.jpg" alt="">
                            </a>
                            <p>
                                <i class="fa-solid fa-clock"></i><a href=""> May 23, 2021 </a><i class="fa-solid fa-bookmark"></i><a href="#"> Grocery </a> <i class="fa-solid fa-pills"></i>
                                <a href="#"> envato</a>, <a href="#"> fresh</a>
                            </p>
                        </div>
                        <div class="blog-prod-info">
                            <h2><a href="#">But I must explain to you how all this mistaken idea</a></h2>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta a ea dignissimos
                                asperiores. Repudiandae aspernatur optio recusandae pariatur beatae quibusdam.
                            </p>
                            <input type="button" value="Read More" class="read-more">
                        </div>
                    </div>
                    <div class="blog-prod-img mb-4">
                        <div class="blog-img">
                            <a href="#">
                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-1.jpg" alt="">
                            </a>
                            <p>
                                <i class="fa-solid fa-clock"></i><a href=""> May 23, 2021 </a><i class="fa-solid fa-bookmark"></i><a href="#"> Grocery </a> <i class="fa-solid fa-pills"></i>
                                <a href="#"> food</a>, <a href="#"> organic</a>
                            </p>
                        </div>
                        <div class="blog-prod-info">
                            <h2><a href="#">But I must explain to you how all this mistaken idea</a></h2>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta a ea dignissimos
                                asperiores. Repudiandae aspernatur optio recusandae pariatur beatae quibusdam.
                            </p>
                            <input type="button" value="Read More" class="read-more">
                        </div>
                    </div>
                </div>
                <!-- Side Block Page -->
                <div class="col-lg-2 d-lg-block d-md-none d-sm-none mt-lg-5">
                    <div class="aside-bar">
                        <div class="container">
                            <div class="search-blog">
                                <input type="search" name="" id="" placeholder="Search">
                                <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                            </div>
                            <div class="popular-list mt-5">
                                <h4>Popular List</h4>
                                <div class="popular-list-products">
                                    <div class="popular-list-product d-flex">
                                        <div class="product-img">
                                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-3.jpg"
                                                 alt="">
                                            <span class="prod-num">1</span>
                                        </div>
                                        <div class="product-detail">
                                            <p>
                                                <a href="#">But I must explain to you how all this mistaken idea</a>
                                            </p>
                                        </div>

                                    </div>
                                    <div class="popular-list-product d-flex mt-lg-4 pt-lg-2">
                                        <div class="product-img">
                                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-5.jpg"
                                                 alt="">
                                            <span class="prod-num">2</span>
                                        </div>
                                        <div class="product-detail">
                                            <p>
                                                <a href="#">But I must explain to you how all this mistaken idea</a>
                                            </p>
                                        </div>

                                    </div>
                                    <div class="popular-list-product d-flex mt-lg-4 pt-lg-2 mb-lg-3">
                                        <div class="product-img">
                                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-1.jpg"
                                                 alt="">
                                            <span class="prod-num">3</span>
                                        </div>
                                        <div class="product-detail">
                                            <p>
                                                <a href="#">But I must explain to you how all this mistaken idea</a>
                                            </p>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Social Media -->
                            <div class="social-media-blog mt-5">
                                <h4>Social Media</h4>
                                <div class="social-media-list-blog">
                                    <div class="social-media-item facebook">
                                        <p>
                                            <a href=""><i class="fa-brands fa-facebook-f"></i> Facebook</a>
                                        </p>
                                    </div>
                                    <div class="social-media-item twitter">
                                        <p>
                                            <a href="https://www.facebook.com/">
                                                <i class="fa-brands fa-facebook-f"></i> Twitter
                                            </a>
                                        </p>
                                    </div>
                                    <div class="social-media-item pinterest">
                                        <p>
                                            <a href="https://www.pinterest.com/?autologin=true">
                                                <i class="fa-brands fa-pinterest"></i> Pinterest
                                            </a>
                                        </p>
                                    </div>
                                    <div class="social-media-item linkedin">
                                        <p>
                                            <a href="https://www.linkedin.com/">
                                                <i class="fa-brands fa-linkedin"></i> Linkedin
                                            </a>
                                        </p>
                                    </div>
                                    <div class="social-media-item reddit">
                                        <p>
                                            <a href="https://www.reddit.com/">
                                                <i class="fa-brands fa-reddit"></i>
                                                Reddit
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- Widget -->
                            <div class="widget-icons-blog mt-5">
                                <h4>Widget Banner</h4>
                                <div class="widget-icon-blog">
                                    <img src="https://klbtheme.com/bacola/multivendor/wp-content/uploads/sites/2/2021/05/sidebar-banner.gif" alt="">
                                </div>
                            </div>
                            <!-- Tags -->
                            <div class="tags-blog mt-5">
                                <div>
                                    <a href="">envato</a>
                                    <a href="">food</a>
                                    <a href="">fresh</a>
                                </div>
                                <div>
                                    <a href="">grocery</a>
                                    <a href="">organic</a>
                                    <a href="">quality</a>
                                </div>
                                <a href="">store</a>
                                <a href="">themeforest</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pagenation-blog text-center">
                <p>
                    <a href="#" class="blog-page">1</a>
                    <a href="#" class="blog-page-second">2</a>
                </p>
            </div>
        </div>
    </section>
</main>