@{
    ViewData["Title"] = "Shop";
}


<section id="main-shop">
    <div class="container-xxl">
        <div class="home-account">
            <p>
                <a href="index.html">Home</a> <i class="fa-solid fa-chevron-right"></i> <span style="color: #8f95ac;">Shop</span>
            </p>
        </div>
    </div>
    <div class="mt-xxl-5">
        <div class="container-xxl">
            <div class="row">
                <div class="col-xxl-3 col-xl-3 d-xl-block d-sm-none">
                    <div class="product-categories">
                        <div class="product-categories-head">
                            <h4>
                                Product Categories
                            </h4>
                        </div>
                        <div class="product-category">
                            <ul class="main-ul-shop">

                                <li>
                                    <a href="#" class="for-click d-flex justify-content-between">
                                        <span><input type="checkbox" name="" id="">Beverages</span>
                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                </li>
                                <!-- Beverages Categories -->
                                <li class="display-none">
                                    <ul>
                                        <li><input type="checkbox"><a href="#">Coffee</a></li>
                                        <li><input type="checkbox"><a href="#">Craft Beer</a></li>
                                        <li><input type="checkbox"><a href="#">Drink Boxes</a></li>
                                        <li>
                                            <input type="checkbox"><a href="#">
                                                Milk &
                                                Plant Based Milk
                                            </a>
                                        </li>
                                        <li><input type="checkbox"><a href="#">Soda Pop</a></li>
                                        <li><input type="checkbox"><a href="#">Sparkling Water</a></li>
                                        <li><input type="checkbox"><a href="#">Tea & Kombucha</a></li>
                                        <li><input type="checkbox"><a href="#">Water</a></li>
                                    </ul>
                                </li>
                                <li><a href="#"><input type="checkbox" name="" id="">Biscuits & Snacks</a></li>
                                <li>
                                    <a href="#" class="for-click d-flex justify-content-between">
                                        <span>
                                            <input type="checkbox" name="" id="">Breads &
                                            Bakery
                                        </span>

                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                </li>
                                <!-- Breads categoryies -->
                                <li class="display-none">
                                    <ul>
                                        <li><input type="checkbox"><a href="#">Buns and Rolls</a></li>
                                        <li><input type="checkbox"><a href="#">Cakes and Cupcakes</a></li>
                                        <li><input type="checkbox"><a href="#">Cookies and Brownies</a></li>
                                        <li><input type="checkbox"><a href="#">Donuts and Muffins</a></li>
                                        <li><input type="checkbox"><a href="#">Order Specialty Cakes</a></li>
                                        <li><input type="checkbox"><a href="#">Packaged Breads</a></li>

                                    </ul>
                                </li>
                                <li>
                                    <a href="#" class="for-click d-flex justify-content-between">
                                        <span><input type="checkbox" name="" id="">Breakfast & Diary</span>
                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                </li>
                                <!-- Breakfast Diary Categories -->
                                <li class="display-none">
                                    <ul>
                                        <li><input type="checkbox"><a href="#">Butter and Margarine</a></li>
                                        <li><input type="checkbox"><a href="#">Cheese</a></li>
                                        <li><input type="checkbox"><a href="#">Eggs Substitutes</a></li>
                                        <li><input type="checkbox"><a href="#">Honey</a></li>
                                        <li><input type="checkbox"><a href="#">Marmalade</a></li>
                                        <li><input type="checkbox"><a href="#">Milk & Flavoured Milk</a></li>
                                        <li><input type="checkbox"><a href="#">Sour Cream and Dips</a></li>
                                        <li><input type="checkbox"><a href="#">Yogurt</a></li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="#">
                                        <input type="checkbox" name="" id="">Frozen
                                        Foods
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="for-click d-flex justify-content-between">
                                        <span><input type="checkbox" name="" id="">Fruits & Vegetables</span>
                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                </li>
                                <li class="display-none">
                                    <ul>
                                        <li><input type="checkbox"><a href="#">Herb & Seasonings</a></li>
                                        <li><input type="checkbox"><a href="#">Packaged Produce</a></li>
                                        <li><input type="checkbox"><a href="#">Party Trays</a></li>
                                        <li><input type="checkbox"><a href="#">Cuts & Sprouts</a></li>
                                        <li><input type="checkbox"><a href="#">Exotic Fruits & Veggies</a></li>
                                        <li><input type="checkbox"><a href="#">Fresh Fruits</a></li>
                                        <li><input type="checkbox"><a href="#">Fresh Vegetables</a></li>
                                    </ul>
                                </li>
                                <li><a href="#"><input type="checkbox" name="" id="">Frocery & Staples</a></li>
                                <li><a href="#"><input type="checkbox" name="" id="">Houselhold Needs</a></li>
                                <li>
                                    <a href="#" class="for-click d-flex justify-content-between">
                                        <span><input type="checkbox" name="" id="">Meats & Seafood </span>
                                        <i class="fa-solid fa-plus"></i>
                                    </a>
                                </li>
                                <li class="display-none">
                                    <ul>
                                        <li><input type="checkbox"><a href="#">Shrimp</a></li>
                                        <li><input type="checkbox"><a href="#">Sliced Deli Meat</a></li>
                                        <li><input type="checkbox"><a href="#">Wild Caught Fillets</a></li>
                                        <li><input type="checkbox"><a href="#">Beef</a></li>
                                        <li><input type="checkbox"><a href="#">Breakfast Sausage</a></li>
                                        <li><input type="checkbox"><a href="#">Chicken</a></li>
                                        <li><input type="checkbox"><a href="#">Crab and Shelfish</a></li>
                                        <li><input type="checkbox"><a href="#">Dinner Sausage</a></li>
                                        <li><input type="checkbox"><a href="#">Farm Raised Fillets</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!-- Range -->
                        <div class="range-shop">
                            <div class="slidecontainer">

                                <p>Filter by Price</p>
                                <input type="range" min="0" max="70" value="70" class="slider" id="myRange">
                                <p class="d-flex justify-content-between"><span><span style="color: #8f95ac;">Price:</span>0$ - 70$</span> <span>Filter</span></p>
                            </div>
                        </div>

                        <!-- Product Status -->
                        <div class="product-status-shop mt-5">
                            <h4>Product Status</h4>
                            <ul class="main-ul-shop">
                                <li><input type="checkbox"><a href="#">In Stock</a></li>
                                <li><input type="checkbox"><a href="#">On Sale</a></li>
                            </ul>
                        </div>

                        <!-- Brands -->
                        <div class="brands-shop mt-5">
                            <h4>Brand</h4>
                            <ul class="main-ul-shop">
                                <li class="d-flex justify-content-between">
                                    <span>
                                        <input type="checkbox"><a href="#">Frito Lay</a>
                                    </span><span>(16)</span>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <span>
                                        <input type="checkbox"><a href="#">Nespresso</a>
                                    </span><span>(16)</span>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <span>
                                        <input type="checkbox"><a href="#">Oreo</a>
                                    </span><span>(16)</span>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <span>
                                        <input type="checkbox"><a href="#">Quaker</a>
                                    </span><span>(16)</span>
                                </li>
                                <li class="d-flex justify-content-between">
                                    <span>
                                        <input type="checkbox"><a href="#">Welch's</a>
                                    </span><span>(16)</span>
                                </li>
                            </ul>
                        </div>
                        <div class="side-img-shop mt-5">
                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/sidebar-banner.gif"
                                 alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xxl-9 col-xl-9 col-sm-12">
                    <div class="organic-meals-img-shop">
                        <a href="#">
                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/08/bacola-banner-18.jpg"
                                 alt="">
                        </a>
                        <div class="organic-meals-absolute">
                            <h4>Organic Meals Prepared</h4>
                            <h3>Delivered to <span>your Home</span></h3>
                            <p>Fully prepared & delivered nationwide.</p>
                        </div>
                    </div>
                    <div class="container mt-xl-3 list-position-shop"
                         style="background-color: #dddee7; border-radius: 5px;">
                        <div class="row p-3">
                            <div class="col-md-10 d-flex justify-content-between">
                                <div class="grid-style">
                                    <i class="fa-solid fa-bars"></i> <i class="fa-solid fa-border-all"></i> <i class="fa-solid fa-grip"></i> <i class="fa-solid fa-table-cells"></i>
                                </div>
                                <div class="sort-shop">Sort by latest <i class="fa-solid fa-chevron-down"></i></div>
                            </div>
                            <ul class="display-none" id="ul-grid-1">
                                <li><a href="">Sort by Popularity</a></li>
                                <li><a href="">Sort by average Rating</a></li>
                                <li>Sort by Latest</li>
                                <li><a href="">Sort by price:low to high</a></li>
                                <li><a href="">sort by price:high to low</a></li>
                            </ul>
                            <div class="col-6 col-md-2 color-show-shop">
                                Show <span>12 </span><i class="fa-solid fa-chevron-down"></i>
                            </div>
                            <ul class="display-none" id="ul-grid-2">
                                <li><a href="">12</a></li>
                                <li><a href="">24</a></li>
                                <li><a href="">36</a></li>
                                <li><a href="">48</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Card -->
                    <div class="width-card-shop mt-3">

                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <a href="#" class="card-cursor">
                                    <!-- Relative Item -->
                                    <div class="card-enlarge">
                                        <div class="card card-enlarge">
                                            <div class="for-border">
                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-7-346x310.jpg"
                                                     class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        Organic 100% Grassfed 85_15 Ground Beef
                                                    </h5>
                                                    <p class="card-text">In Stock</p>
                                                    <p class="card-star">
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                    </p>
                                                    <p class="card-price">
                                                        <span class="line-through">7.9</span>
                                                        <b>5.9</b>
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- Absolute Items -->
                                            <div class="add-card-product">
                                                <a href="#" class="btn btn-primary">Add To Card</a>
                                            </div>

                                            <span class="btn-enlarge">
                                                <div>
                                                    <button type="button" class="heart-wide-screen"
                                                            data-toggle="modal" data-target="#exampleModal">
                                                        <i class="fa-solid fa-up-down-left-right"></i>
                                                    </button>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-heart heart-wide-screen"></i>
                                                </div>
                                            </span>
                                            <span class="discount-product">16%</span>
                                            <!-- Button trigger modal -->
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">
                                                                Modal
                                                                title
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-7-346x310.jpg"
                                                                 alt="">
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">
                                                                Close
                                                            </button>
                                                            <button type="button" class="btn btn-primary">
                                                                Save
                                                                changes
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <a href="#" class="card-cursor">
                                    <!-- Relative Item -->
                                    <div class="card-enlarge">
                                        <div class="card card-enlarge">
                                            <div class="for-border">
                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-60-346x310.jpg"
                                                     class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        Organic 100% Grassfed 85_15 Ground Beef
                                                    </h5>
                                                    <p class="card-text">In Stock</p>
                                                    <p class="card-star">
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                    </p>
                                                    <p class="card-price">
                                                        <span class="line-through">7.9</span>
                                                        <b>5.9</b>
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- Absolute Items -->
                                            <div class="add-card-product">
                                                <a href="#" class="btn btn-primary">Add To Card</a>
                                            </div>

                                            <span class="btn-enlarge">
                                                <div>
                                                    <button type="button" class="heart-wide-screen"
                                                            data-toggle="modal" data-target="#exampleModal">
                                                        <i class="fa-solid fa-up-down-left-right"></i>
                                                    </button>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-heart heart-wide-screen"></i>
                                                </div>
                                            </span>
                                            <span class="discount-product">16%</span>
                                            <!-- Button trigger modal -->
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">
                                                                Modal
                                                                title
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-7-346x310.jpg"
                                                                 alt="">
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">
                                                                Close
                                                            </button>
                                                            <button type="button" class="btn btn-primary">
                                                                Save
                                                                changes
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <a href="#" class="card-cursor">
                                    <!-- Relative Item -->
                                    <div class="card-enlarge">
                                        <div class="card card-enlarge">
                                            <div class="for-border">
                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-46-346x310.jpg"
                                                     class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        Organic 100% Grassfed 85_15 Ground Beef
                                                    </h5>
                                                    <p class="card-text">In Stock</p>
                                                    <p class="card-star">
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                    </p>
                                                    <p class="card-price">
                                                        <span class="line-through">7.9</span>
                                                        <b>5.9</b>
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- Absolute Items -->
                                            <div class="add-card-product">
                                                <a href="#" class="btn btn-primary">Add To Card</a>
                                            </div>

                                            <span class="btn-enlarge">
                                                <div>
                                                    <button type="button" class="heart-wide-screen"
                                                            data-toggle="modal" data-target="#exampleModal">
                                                        <i class="fa-solid fa-up-down-left-right"></i>
                                                    </button>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-heart heart-wide-screen"></i>
                                                </div>
                                            </span>
                                            <span class="discount-product">16%</span>
                                            <!-- Button trigger modal -->
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">
                                                                Modal
                                                                title
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-7-346x310.jpg"
                                                                 alt="">
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">
                                                                Close
                                                            </button>
                                                            <button type="button" class="btn btn-primary">
                                                                Save
                                                                changes
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-lg-3 d-lg-block d-sm-none">
                                <a href="#" class="card-cursor">
                                    <!-- Relative Item -->
                                    <div class="card-enlarge">
                                        <div class="card card-enlarge">
                                            <div class="for-border">
                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-45-346x310.jpg"
                                                     class="card-img-top" alt="...">
                                                <div class="card-body">
                                                    <h5 class="card-title">
                                                        Organic 100% Grassfed 85_15 Ground Beef
                                                    </h5>
                                                    <p class="card-text">In Stock</p>
                                                    <p class="card-star">
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                    </p>
                                                    <p class="card-price">
                                                        <span class="line-through">7.9</span>
                                                        <b>5.9</b>
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- Absolute Items -->
                                            <div class="add-card-product">
                                                <a href="#" class="btn btn-primary">Add To Card</a>
                                            </div>

                                            <span class="btn-enlarge">
                                                <div>
                                                    <button type="button" class="heart-wide-screen"
                                                            data-toggle="modal" data-target="#exampleModal">
                                                        <i class="fa-solid fa-up-down-left-right"></i>
                                                    </button>
                                                </div>
                                                <div>
                                                    <i class="fa-solid fa-heart heart-wide-screen"></i>
                                                </div>
                                            </span>
                                            <span class="discount-product">16%</span>
                                            <!-- Button trigger modal -->
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">
                                                                Modal
                                                                title
                                                            </h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-7-346x310.jpg"
                                                                 alt="">
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">
                                                                Close
                                                            </button>
                                                            <button type="button" class="btn btn-primary">
                                                                Save
                                                                changes
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>



                        <!-- Second Row -->
                        <div class="margin-hidden">
                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <a href="#" class="card-cursor">
                                        <!-- Relative Item -->
                                        <div class="card-enlarge">
                                            <div class="card card-enlarge">
                                                <div class="for-border">
                                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-14-346x310.jpg"
                                                         class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            Organic 100% Grassfed 85_15 Ground
                                                            Beef
                                                        </h5>
                                                        <p class="card-text">In Stock</p>
                                                        <p class="card-star">
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                        </p>
                                                        <p class="card-price">
                                                            <span class="line-through">7.9</span>
                                                            <b>5.9</b>
                                                        </p>
                                                    </div>
                                                </div>
                                                <!-- Absolute Items -->
                                                <div class="add-card-product">
                                                    <a href="#" class="btn btn-primary">Add To Card</a>
                                                </div>

                                                <span class="btn-enlarge">
                                                    <div>
                                                        <button type="button" class="heart-wide-screen"
                                                                data-toggle="modal" data-target="#exampleModal">
                                                            <i class="fa-solid fa-up-down-left-right"></i>
                                                        </button>
                                                    </div>
                                                    <div>
                                                        <i class="fa-solid fa-heart heart-wide-screen"></i>
                                                    </div>
                                                </span>
                                                <span class="discount-product">16%</span>
                                                <!-- Button trigger modal -->
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    Modal
                                                                    title
                                                                </h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-7-346x310.jpg"
                                                                     alt="">
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">
                                                                    Close
                                                                </button>
                                                                <button type="button" class="btn btn-primary">
                                                                    Save
                                                                    changes
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <a href="#" class="card-cursor">
                                        <!-- Relative Item -->
                                        <div class="card-enlarge">
                                            <div class="card card-enlarge">
                                                <div class="for-border">
                                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-12-346x310.jpg"
                                                         class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            Organic 100% Grassfed 85_15 Ground
                                                            Beef
                                                        </h5>
                                                        <p class="card-text">In Stock</p>
                                                        <p class="card-star">
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                        </p>
                                                        <p class="card-price">
                                                            <span class="line-through">7.9</span>
                                                            <b>5.9</b>
                                                        </p>
                                                    </div>
                                                </div>
                                                <!-- Absolute Items -->
                                                <div class="add-card-product">
                                                    <a href="#" class="btn btn-primary">Add To Card</a>
                                                </div>

                                                <span class="btn-enlarge">
                                                    <div>
                                                        <button type="button" class="heart-wide-screen"
                                                                data-toggle="modal" data-target="#exampleModal">
                                                            <i class="fa-solid fa-up-down-left-right"></i>
                                                        </button>
                                                    </div>
                                                    <div>
                                                        <i class="fa-solid fa-heart heart-wide-screen"></i>
                                                    </div>
                                                </span>
                                                <span class="discount-product">16%</span>
                                                <!-- Button trigger modal -->
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    Modal
                                                                    title
                                                                </h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-7-346x310.jpg"
                                                                     alt="">
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">
                                                                    Close
                                                                </button>
                                                                <button type="button" class="btn btn-primary">
                                                                    Save
                                                                    changes
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <a href="#" class="card-cursor">
                                        <!-- Relative Item -->
                                        <div class="card-enlarge">
                                            <div class="card card-enlarge">
                                                <div class="for-border">
                                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-9-346x310.jpg"
                                                         class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            Organic 100% Grassfed 85_15 Ground
                                                            Beef
                                                        </h5>
                                                        <p class="card-text">In Stock</p>
                                                        <p class="card-star">
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                        </p>
                                                        <p class="card-price">
                                                            <span class="line-through">7.9</span>
                                                            <b>5.9</b>
                                                        </p>
                                                    </div>
                                                </div>
                                                <!-- Absolute Items -->
                                                <div class="add-card-product">
                                                    <a href="#" class="btn btn-primary">Add To Card</a>
                                                </div>

                                                <span class="btn-enlarge">
                                                    <div>
                                                        <button type="button" class="heart-wide-screen"
                                                                data-toggle="modal" data-target="#exampleModal">
                                                            <i class="fa-solid fa-up-down-left-right"></i>
                                                        </button>
                                                    </div>
                                                    <div>
                                                        <i class="fa-solid fa-heart heart-wide-screen"></i>
                                                    </div>
                                                </span>
                                                <span class="discount-product">16%</span>
                                                <!-- Button trigger modal -->
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    Modal
                                                                    title
                                                                </h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-7-346x310.jpg"
                                                                     alt="">
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">
                                                                    Close
                                                                </button>
                                                                <button type="button" class="btn btn-primary">
                                                                    Save
                                                                    changes
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 d-lg-block d-sm-none">
                                    <a href="#" class="card-cursor">
                                        <!-- Relative Item -->
                                        <div class="card-enlarge">
                                            <div class="card card-enlarge">
                                                <div class="for-border">
                                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-4-346x310.jpg"
                                                         class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            Organic 100% Grassfed 85_15 Ground
                                                            Beef
                                                        </h5>
                                                        <p class="card-text">In Stock</p>
                                                        <p class="card-star">
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                        </p>
                                                        <p class="card-price">
                                                            <span class="line-through">7.9</span>
                                                            <b>5.9</b>
                                                        </p>
                                                    </div>
                                                </div>
                                                <!-- Absolute Items -->
                                                <div class="add-card-product">
                                                    <a href="#" class="btn btn-primary">Add To Card</a>
                                                </div>

                                                <span class="btn-enlarge">
                                                    <div>
                                                        <button type="button" class="heart-wide-screen"
                                                                data-toggle="modal" data-target="#exampleModal">
                                                            <i class="fa-solid fa-up-down-left-right"></i>
                                                        </button>
                                                    </div>
                                                    <div>
                                                        <i class="fa-solid fa-heart heart-wide-screen"></i>
                                                    </div>
                                                </span>
                                                <span class="discount-product">16%</span>
                                                <!-- Button trigger modal -->
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    Modal
                                                                    title
                                                                </h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-7-346x310.jpg"
                                                                     alt="">
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">
                                                                    Close
                                                                </button>
                                                                <button type="button" class="btn btn-primary">
                                                                    Save
                                                                    changes
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="margin-hidden">

                            <div class="row">
                                <div class="col-lg-3 col-md-6">
                                    <a href="#" class="card-cursor">
                                        <!-- Relative Item -->
                                        <div class="card-enlarge">
                                            <div class="card card-enlarge">
                                                <div class="for-border">
                                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-48-346x310.jpg"
                                                         class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            Organic 100% Grassfed 85_15 Ground
                                                            Beef
                                                        </h5>
                                                        <p class="card-text">In Stock</p>
                                                        <p class="card-star">
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                        </p>
                                                        <p class="card-price">
                                                            <span class="line-through">7.9</span>
                                                            <b>5.9</b>
                                                        </p>
                                                    </div>
                                                </div>
                                                <!-- Absolute Items -->
                                                <div class="add-card-product">
                                                    <a href="#" class="btn btn-primary">Add To Card</a>
                                                </div>

                                                <span class="btn-enlarge">
                                                    <div>
                                                        <button type="button" class="heart-wide-screen"
                                                                data-toggle="modal" data-target="#exampleModal">
                                                            <i class="fa-solid fa-up-down-left-right"></i>
                                                        </button>
                                                    </div>
                                                    <div>
                                                        <i class="fa-solid fa-heart heart-wide-screen"></i>
                                                    </div>
                                                </span>
                                                <span class="discount-product">16%</span>
                                                <!-- Button trigger modal -->
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    Modal
                                                                    title
                                                                </h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-7-346x310.jpg"
                                                                     alt="">
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">
                                                                    Close
                                                                </button>
                                                                <button type="button" class="btn btn-primary">
                                                                    Save
                                                                    changes
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <a href="#" class="card-cursor">
                                        <!-- Relative Item -->
                                        <div class="card-enlarge">
                                            <div class="card card-enlarge">
                                                <div class="for-border">
                                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-2-346x310.jpg"
                                                         class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            Organic 100% Grassfed 85_15 Ground
                                                            Beef
                                                        </h5>
                                                        <p class="card-text">In Stock</p>
                                                        <p class="card-star">
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                        </p>
                                                        <p class="card-price">
                                                            <span class="line-through">7.9</span>
                                                            <b>5.9</b>
                                                        </p>
                                                    </div>
                                                </div>
                                                <!-- Absolute Items -->
                                                <div class="add-card-product">
                                                    <a href="#" class="btn btn-primary">Add To Card</a>
                                                </div>

                                                <span class="btn-enlarge">
                                                    <div>
                                                        <button type="button" class="heart-wide-screen"
                                                                data-toggle="modal" data-target="#exampleModal">
                                                            <i class="fa-solid fa-up-down-left-right"></i>
                                                        </button>
                                                    </div>
                                                    <div>
                                                        <i class="fa-solid fa-heart heart-wide-screen"></i>
                                                    </div>
                                                </span>
                                                <span class="discount-product">16%</span>
                                                <!-- Button trigger modal -->
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    Modal
                                                                    title
                                                                </h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-7-346x310.jpg"
                                                                     alt="">
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">
                                                                    Close
                                                                </button>
                                                                <button type="button" class="btn btn-primary">
                                                                    Save
                                                                    changes
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-6">
                                    <a href="#" class="card-cursor">
                                        <!-- Relative Item -->
                                        <div class="card-enlarge">
                                            <div class="card card-enlarge">
                                                <div class="for-border">
                                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-62-346x310.jpg"
                                                         class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            Organic 100% Grassfed 85_15 Ground
                                                            Beef
                                                        </h5>
                                                        <p class="card-text">In Stock</p>
                                                        <p class="card-star">
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                        </p>
                                                        <p class="card-price">
                                                            <span class="line-through">7.9</span>
                                                            <b>5.9</b>
                                                        </p>
                                                    </div>
                                                </div>
                                                <!-- Absolute Items -->
                                                <div class="add-card-product">
                                                    <a href="#" class="btn btn-primary">Add To Card</a>
                                                </div>

                                                <span class="btn-enlarge">
                                                    <div>
                                                        <button type="button" class="heart-wide-screen"
                                                                data-toggle="modal" data-target="#exampleModal">
                                                            <i class="fa-solid fa-up-down-left-right"></i>
                                                        </button>
                                                    </div>
                                                    <div>
                                                        <i class="fa-solid fa-heart heart-wide-screen"></i>
                                                    </div>
                                                </span>
                                                <span class="discount-product">16%</span>
                                                <!-- Button trigger modal -->
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    Modal
                                                                    title
                                                                </h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-7-346x310.jpg"
                                                                     alt="">
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">
                                                                    Close
                                                                </button>
                                                                <button type="button" class="btn btn-primary">
                                                                    Save
                                                                    changes
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-3 d-lg-block d-sm-none">
                                    <a href="#" class="card-cursor">
                                        <!-- Relative Item -->
                                        <div class="card-enlarge">
                                            <div class="card card-enlarge">
                                                <div class="for-border">
                                                    <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-3-346x310.jpg"
                                                         class="card-img-top" alt="...">
                                                    <div class="card-body">
                                                        <h5 class="card-title">
                                                            Organic 100% Grassfed 85_15 Ground
                                                            Beef
                                                        </h5>
                                                        <p class="card-text">In Stock</p>
                                                        <p class="card-star">
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                            <i class="fa-solid fa-star"></i>
                                                        </p>
                                                        <p class="card-price">
                                                            <span class="line-through">7.9</span>
                                                            <b>5.9</b>
                                                        </p>
                                                    </div>
                                                </div>
                                                <!-- Absolute Items -->
                                                <div class="add-card-product">
                                                    <a href="#" class="btn btn-primary">Add To Card</a>
                                                </div>

                                                <span class="btn-enlarge">
                                                    <div>
                                                        <button type="button" class="heart-wide-screen"
                                                                data-toggle="modal" data-target="#exampleModal">
                                                            <i class="fa-solid fa-up-down-left-right"></i>
                                                        </button>
                                                    </div>
                                                    <div>
                                                        <i class="fa-solid fa-heart heart-wide-screen"></i>
                                                    </div>
                                                </span>
                                                <span class="discount-product">16%</span>
                                                <!-- Button trigger modal -->
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1"
                                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    Modal
                                                                    title
                                                                </h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-7-346x310.jpg"
                                                                     alt="">
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">
                                                                    Close
                                                                </button>
                                                                <button type="button" class="btn btn-primary">
                                                                    Save
                                                                    changes
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagenation-shop text-center">
            <p>
                <a href="#" class="shop-page">1</a>
                <a href="#" class="shop-page-second">2</a>
            </p>
        </div>
</section>